<h2>Test Status</h2>

<pre>
# Model data:
<%= JSON.pretty_generate(@test_models.map(&:attributes)) %>

# Index mapping:
<%= JSON.pretty_generate(@index_mapping) %>

# Search results:
<%= JSON.pretty_generate(@search_results) %>
</pre>
